
<h1>Add a Contact</h1>

<form action="/hw_address_book/" method="post">
  <ul>
    <input type="text" name="first" placeholder="First Name">
    <input type="text" name="last" placeholder="Last Name">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="gender" placeholder="M/F">
    <input type="text" name="phone" placeholder="Phone Number">
    <button>Add Contact</button>
</ul>
</form>