
<h1>Add a Contact</h1>

<form action="/address_book/" method="post">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="age">
  <input type="text" name="phone">
  <button>Add Contact</button>
</form>